section {  
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: start;
    align-items: end;
    justify-content: center;
    align-content: space-between;
    article {
        height: 100%;
        @include flex(column, start, center, center);
        #imgProfil{
            border: 0.5rem solid $borderColor;
            border-radius: 2rem;
            margin: 2rem auto;
            width: 200px;
            height: 200px;
        }
    }
    #article1{
        grid-area: 1/ 1/ 5/ 5;
        border-right: 0.1rem solid $borderColor;
        background:$backgroundInterface;
        h2{
            margin-top: 1rem;
            text-align: center;
        }
        #presentation{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            text-align: center;
            p{
                span{
                    margin: 1rem auto;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
        #reseaux{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                span{
                    padding-left: 1rem;
                }
            }
            img{
                margin: 1rem auto;
            }
            .imgStyle{
                border-radius: 50%;
            }
        }
        #profil{
            padding: 2rem ;
            h2{
                padding-bottom: 2rem;
            }
            p{
                padding:2rem;
            }
        }
        hr{
            width: 90%;
            border: 0.1rem solid black;
        }
    }
    #article2{
        grid-area: 1/ 5/ 2/ 12;
        padding-left: 5rem;
        @include flex(column, start,start,center);
        .card{
            background: $backgroundColor;
            border: none;
            margin-top: 2rem;
            h2{
                b{
                    text-transform: uppercase;
                    padding: 0 2rem;
                }
            }
            .ulCard{
                color: $textColor;
                margin-left: 1.5rem;
                border-left:0.2rem solid black;
                li{
                    margin-left: 3rem;
                    .pTitle{
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    section{
        #article1{
            padding: 1rem;
            #reseaux{
                p{
                    margin: 1rem;
                }
            }
        }
    }   
}
@media only screen and (max-width: 800px) {
    section{
        width: 100%;
        #article1{
            grid-area: 1/ 1/ 4/ 5;
        }
        #article2{
            grid-area: 1/ 6/ 2/ 13;
            padding-left: 1rem;
            padding-right: 2rem;
            h2{
                font-size: 1.5rem;
            }
        }
    }   
}

